div#content{
  width:auto;
  position: relative;
  top:0;
  left: 350;
  padding-left: 10px;  
}
p{
padding-left: 20px;
padding-right: 10px;
}
div#content h2{
  padding-left: 25px;
}

div#daphne-dixon-carousel{
  width: 500px;
  float: right;
  padding: 0 20px 70px 10px;
}